*{
    user-select: none;
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
}

.main{
    padding-top: 10vh;
    width: 100vw;
    height: 80vh;
    background-color: rgb(104, 104, 104);
    display: flex;
    justify-content: center;
    color: antiquewhite;
}

.conteiner{
    width: 80vw;
    height: 100%;
}
.left{
    width: 30vw;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
}
.right{
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgb(34, 117, 117); */
}

.foto-short-description,.foto-short-description-foto{
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.contacts{
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.contacts > .right{
    flex-direction: row;
        justify-content: space-between;
}



.footer{
    background-color: rgb(68, 68, 68);
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
}
.footer-conteiner{
    width: 80vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.footer-conteiner > *{
    /* color: black; */
    color: rgb(223, 180, 125);
}

.footer-logo{
    height: 7vh;
}